.contact-section .contact-header {
  margin-bottom: 4rem;  
}
  .contact-section .contact-header h3 {
    margin-left: 2rem;
    margin-bottom: 4rem;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
  }
  .contact-section .contact-header h3 .smile { 
    font-size: 1.7rem;
  }


.contact-section .contact-all-parts {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact-section .contact-all-parts .contact-left-part {
  flex: 1 1;
    min-width: 19rem;
}

.contact-section .contact-all-parts .contact-right-part {
  flex: 1.5 1.5;
    min-width: 20rem;
}

