.hello-section {
  margin-bottom: 0 !important;
}

.hello-section .hello-sub-section {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
}

.hello-section .sec {

}

.hello-sub-section .left-sec,
.hello-sub-section .right-sec {  
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.hello-sub-section .left-sec {  
    flex-grow: 5;
    max-width: 34rem;
    min-width: 22rem;
}
.hello-sub-section .right-sec {
    text-align: center;
    flex-grow: 1;
    max-width: 22rem;
}

.hello-sub-section .left-sec,
.hello-sub-section .right-sec {  
    margin: 0.2rem;
    margin: 2%;
}


.hello-sub-section .sec-sec {
    margin: 1.0rem 1.5rem;
}

.sec-sec:nth-child(2) * {
  margin-top: 0;
  margin-bottom: 0;
}

.hello-sub-section .short-about-sec-sec {
  padding-top: 1rem;
}

.hello-sub-section .portrait-sec-sec {
  /*padding-top: 0.6rem; */
    width: 22rem;
    height: 22rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-style: solid; */
    /* border-radius: 50%; */
    /* background-color: #FFFFFF; */
    background: transparent;
    margin: 0;
    margin-top: -1rem;
}

.hello-sub-section .contacten-sec-sec {
  padding-right: 0.9rem;
}

.hello-sub-section .portrait {
  display: block;
    width: 20.0rem;
    height: 20.0rem;
    /* border: 1px solid #ceccc9; */
    /* box-shadow: 9px 9px #dbdfd3; */
    border-radius: 50%;
    object-fit: contain;
    background-color: #f0f6e0;
    border-width: 4px;
    box-sizing: border-box;
    margin-top: -20px;
    cursor: default;
}

  .hello-sub-section .portrait:hover {
    border-color: rgba(var(--site-fourth-color-o), 0.85);
  }

.welcome-portrait {
  
}

.hi-i-am {
  color: var(--site-first-color);
    font-family: var(--site-second-font-family);
    font-weight: 500;
}

.my-name {
  color: var(--site-second-color);
    font-family: var(--site-second-font-family);
    font-size: 3.8rem;
    font-weight: 600;
}

.profic-specializations {
  font-family: var(--site-third-font-family);
}

.hello-section h2 {
  font-size: 1.8rem;
  color: var(--site-third-color);
  font-family: var(--site-third-font-family);
}
